* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --quaseclaro: #e2e8f0dc;
    --vidro: rgba(255, 255, 255, 0.1)
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;

}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.3s ease;
}

.menu-link:hover:after {
    width: 100%;

}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.foto-perfil {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 3s ease-in-out infinite;
}

h1 {
    font-size: 2.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 5px;
}

h2 {
    font-size: 1rem;
    color: var(--quaseclaro);
    margin: 5px;
}

p {
    font-size: 1rem;
    color: var(--claro);
    font-weight: lighter;
    font-weight: bold;
    margin: 5px;
}

.cabecalho-subtitulo {
    font-size: 1.1rem;
    color: var(--claro);
}



/* ============== Aba Sobre ============== */

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.1rem;
}





/* ============== Carrossel e botões ============== */
.carrossel{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.btn-carrossel{
    position: absolute;
    top: 40%;
    transform: translateY(0%);
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
    color: var(--claro);
    font-size: 28px;
    padding: 1px 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    margin: 40px;
    transition: all 0.3s ease;
}

.btn-carrossel:hover{
    scale: 120%;
    background: rgba(255, 255, 255, 0.15);
    color: var(--claro);
}

.antes{
    left: -50px;
}

.prox{
    right: -50px;
}




/* ============== Cards Projetos ============== */
.projetos {
    padding: 6rem 2rem;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-caixa {
    display: flex;
    position: relative;
    gap: 1.5rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
    scroll-behavior: smooth;
    width: 100%;
    margin: 0 auto;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 2%, black 98%, transparent 100%);
    mask-image: linear-gradient(to left, transparent 0%, black 2%, black 98%, transparent 100%);
    cursor: pointer;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-padding: 20px;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow-x: auto;
    overflow-y: hidden;
    transition: all 0.5s ease;
    min-width: calc(33% - 1.3rem);
    user-select: none;
    pointer-events: auto;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.projetos-card a,
.projetos-card img {
    -webkit-user-drag: none;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 900px){
    .projetos-card {
        min-width: calc(50% - 1rem);
    }
}

@media (max-width: 600px){
    .projetos-card {
        min-width: calc(100%);
    }
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);

}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
    user-select: none; 
    -webkit-user-drag: none;
}

.info-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.caixa-textos-projeto {
    padding: 1.5rem;
}

.paragrafo-projetos {
    margin-bottom: 5px;
}



/* ============== Popup Projetos ============== */

.popup-caixa{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 550px;
    max-width: 1200px;
    background-color: #0f172a;
    border: 1px solid var(--vidro);
    box-sizing: border-box;
    
}

dialog::backdrop{
    background-color: rgba(15, 15, 15, 0.541);
    backdrop-filter: blur(2px);
}


.close-modal {
    position: absolute;
    top: -5%;
    left: 95%;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(175, 13, 13, 0.514);
    color: var(--claro);
    font-size: 15px;
    padding: 10px 12px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    margin: 0px;
    transition: all 0.2s ease;
}

.close-modal:hover{
    scale: 120%;
    background: rgba(223, 17, 17, 0.747);
    color: var(--claro);
}

.btn-popup{
    position: absolute;
    top: 40%;
    transform: translateY(0%);
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
    color: var(--claro);
    font-size: 28px;
    padding: 1px 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    margin: 40px;
    transition: all 0.3s ease;
}

.btn-popup:hover{
    scale: 120%;
    background: rgba(255, 255, 255, 0.15);
    color: var(--claro);
}

.antes{
    left: -50px;
}

.prox{
    right: -50px;
}
.popup-esquerda {
    width: 65%;
    position: relative;
    background-color: #0f172a;
    display: flex;
    align-items: center;
}

.popup-carrossel-track-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.popup-carrossel-track{
    display:flex;
    height: 100%;
    padding: 0;
    list-style: none;
    transition: transform 0.4s ease-in-out;
}

.popup-carrossel-slide{
    min-width: 100%;
    height: 100%;
}

.popup-carrossel-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup-direita{
    width: 35%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--vidro);
}


.direita-metade-superior{
    padding: 20px 20px 10px 20px;
}

.softwares-titulo{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.software-icons{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 13px;
}

.icon-software{
    color:#e2e8f0;
    font-size: 25px;
}

.direita-metade-inferior{
    padding: 15px 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.direita-metade-inferior p{
    font-size: 13px;
    line-height: 1.5;
    margin-top: 0;
}

.direita-metade-inferior::-webkit-scrollbar{
    width: 6px;
}

.direita-metade-inferior::-webkit-scrollbar-thumb{
    background-color: #e2e8f0;
}


/* ============== Formulário de contato ============== */
.contatos {
    padding: 6rem 2rem;
    margin-bottom: 30px;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 15px;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(var(--vidro));
    outline: none;
    resize: vertical;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);

}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-mensagem {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
    margin-top: 10px;
}

.botao-mensagem:hover {
    transform: translateY(-4px);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
        radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
        radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
        var(--maisescuro);
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-20px)
    }
}