* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #ff9100;
    --secundaria: #d4230c;
    --escuro: #070808;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --quaseclaro: #e2e8f0dc;
    --vidro: rgba(255, 255, 255, 0.1)
}

body {
    background-image: url('img/fundo topografico.webp');
    background-size: 1200px;
    background-color: #111111;
}

.navegacao {
    position: fixed;
    top: 0;
    border-bottom: 1px solid var(--vidro);
    backdrop-filter: blur(5px);
    background: rgba(37, 37, 37, 0.5);
    width: 100%;
    z-index: 100;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;

}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.3s ease;
}

.menu-link:hover:after {
    width: 100%;

}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.foto-perfil {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px rgba(223, 102, 31, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 3s ease-in-out infinite;
}

h1 {
    font-size: 2.2rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 5px;
}

h2 {
    font-size: 1.1rem;
    color: var(--claro);
    margin: 5px;
}

h3 {
    font-size: 1rem;
    color: var(--quaseclaro);
    margin: 5px;
    font-weight: lighter;
}

h4 {
    font-size: 1rem;
    color: #181818;
    margin: 5px;
    font-weight: bold;
}

p {
    font-size: 0.9rem;
    color: var(--claro);
    margin: 5px;
}


.cabecalho-subtitulo {
    font-size: 1.1rem;
    color: var(--claro);
}



/* ============== Aba Sobre ============== */

.sobre {
    padding: 6rem 2rem;
    margin-top: -200px;
}

.sobre-titulo {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 0.03);
}

.sobre-icons {
    text-align: center;
    margin-top: 20px;
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.1rem;
}





/* ============== Carrossel e botões ============== */
.carrossel {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.btn-carrossel {
    position: absolute;
    top: 40%;
    transform: translateY(0%);
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
    color: var(--claro);
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    border-radius: 50%;
    margin: 40px;
    transition: all 0.3s ease;
}


.btn-carrossel img {
    width: 12px;
    display: block;
}

.btn-carrossel:hover {
    scale: 120%;
    background: rgba(255, 255, 255, 0.15);
    color: var(--claro);
}

.antes {
    left: -50px;
}

.prox {
    right: -50px;
}




/* ============== Cards Projetos ============== */
.projetos {
    padding: 6rem 2rem;
}

.projetos-titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.projetos-caixa {
    display: flex;
    position: relative;
    gap: 1.5rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
    scroll-behavior: smooth;
    width: 100%;
    margin: 0 auto;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 2%, black 98%, transparent 100%);
    mask-image: linear-gradient(to left, transparent 0%, black 2%, black 98%, transparent 100%);
    cursor: pointer;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-padding: 20px;
}

.projetos-card {
    border-radius: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    transition: all 0.5s ease;
    min-width: calc(33% - 1.3rem);
    user-select: none;
    pointer-events: auto;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);

}

.projetos-card a,
.projetos-card img {
    -webkit-user-drag: none;
    text-decoration: none;
    color: inherit;
}


.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(223, 102, 31, 0.3);
    transform: translateY(-10px) scale(1.03);

}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}

.info-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.caixa-textos-projeto {
    padding: 1.8rem;
}

.paragrafo-projetos {
    margin-bottom: 5px;
}



/* ============== Popup Projetos ============== */

.popup-caixa {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 550px;
    max-width: 1200px;
    background-color: rgba(15, 15, 15, 0.7);
    box-sizing: border-box;
    border-radius: 15px;
}

dialog[open] .popup-caixa {
    animation: popupAbrindo 0.3s ease-out forwards;
}

dialog::backdrop {
    transition: opacity 0.3s ease;
    background-color: rgba(15, 15, 15, 0);
}

dialog[open]::backdrop {
    background-color: rgba(15, 15, 15, 0.541);
    backdrop-filter: blur(2px);
}


.close-modal {
    display: block;
    position: absolute;
    align-self: end;
    transform: translateY(-120%);
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(175, 13, 13, 0.9);
    color: var(--claro);
    font-size: 10px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 15px 15px 15px 0px;
    transition: all 0.1s ease;
}

.close-modal:hover {
    scale: 120%;
    background: rgba(223, 17, 17, 0.747);
    color: var(--claro);
}

.btn-popup {
    position: absolute;
    top: 40%;
    transform: translateY(0%);
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(15, 15, 15, 0.25);
    color: var(--claro);
    font-size: 28px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    margin: 40px;
    transition: all 0.3s ease;
    display: block;
}

.btn-popup img {
    width: 13px;
    display: block;
}

.btn-popup:hover {
    scale: 120%;
    background: rgba(25, 25, 25, 0.15);
    color: var(--claro);
}

.antes {
    left: -50px;
}

.prox {
    right: -50px;
}

.popup-esquerda {
    width: 68%;
    position: relative;
    backdrop-filter: blur(10px);
    background-color: rgba(22, 22, 22, 0.103);
    display: flex;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}

.popup-carrossel-track-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px 0px 0px 15px;
}

.popup-carrossel-track {
    display: flex;
    height: 100%;
    padding: 0;
    list-style: none;
    transition: transform 0.4s ease-in-out;
}

.popup-carrossel-slide {
    min-width: 100%;
    height: 100%;

}

.popup-carrossel-slide img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.popup-direita {
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0px 15px 15px 0px;
}


.direita-metade-superior {
    padding: 20px 20px 0px 20px;
}

.softwares-titulo {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.software-icons {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 5px;

}

.icon-software {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.tooltip {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 40px;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.tooltip-text {
    position: absulute;
    bottom: 120%;
    right: 1%;

    background: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;

    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.tooltip:hover {
    transform: translateY(-8px) scale(1.15);
    z-index: 10;
}

.tooltip:hover .tooltip-text {
    opacity: 1;
}

.direita-metade-inferior {
    padding: 0px 20px 0px 20px;
    flex-grow: 1;
    overflow-y: auto;
    margin-top: -15px;
    margin-bottom: 10px;
}

.direita-metade-inferior p {
    font-size: 13px;
    line-height: 1.5;
    margin-top: 0;
}

.direita-metade-inferior::-webkit-scrollbar {
    width: 6px;
}

.direita-metade-inferior::-webkit-scrollbar-thumb {
    background-color: #e2e8f0;
}

.btn-acessar {
    border-radius: 20px;
    margin: 0px 15px 15px 15px;
    background-color: #e2e8f0;
    transition: all ease 0.2s;
    padding: 5px;
}

.btn-acessar:hover {
    scale: 104%;
    cursor: pointer;
}

/* ===== Contatos ===== */
.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-bottom: 4rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--claro);
}

.contatos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 900px;
}

.formulario-contato {
    flex: 1;
    min-width: 300px;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 15px;
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
    resize: vertical;
    min-height: 50px;
}

textarea.campo-form {
    min-height: 120px;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 10px 20px rgba(223, 102, 31, 0.2);
}

.botao-mensagem {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
    margin-top: 10px;
}

.botao-mensagem:hover {
    transform: translateY(-4px);
}

.redes-sociais {
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.cartao-social {
    border: 1px solid var(--vidro);
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    color: var(--claro, #ffffff);
    transition: all 0.3s ease, transform 0.2s ease;
}

.cartao-social:hover {
    border: 1px solid var(--primaria);
    background: rgb(138, 138, 138, 0.2);
    transform: translateX(3px);
    box-shadow: 0 10px 20px rgba(223, 102, 31, 0.3);

}

.cartao-social span {
    font-size: 0.95rem;
    font-weight: 600;
    line-height: 1.2;
    word-break: break-word;
}

.icone-social {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.2rem;
    font-size: 1.5rem;
}

.texto-final {
    display: flex;
    justify-content: center;
    margin: 30px;
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-20px)
    }
}

@keyframes popupAbrindo {
    from {
        opacity: 0%;
        transform: translate(-50%, -48%) scale(0.96);
    }

    to {
        opacity: 100%;
        transform: translate(-50%, -50%) scale(1);
    }
}

@media (max-width: 900px) {
    .projetos-card {
        min-width: calc(50% - 1rem);
    }

    .redes-sociais {
        max-width: 100%;
    }

}

@media (max-width: 600px) {

    h1 {
        font-size: 1.8rem;
        color: var(--primaria);
        font-weight: bold;
        margin: 5px;
    }

    h3 {
        font-size: 0.8rem;
        color: var(--quaseclaro);
        margin: 5px;
        font-weight: lighter;
    }

    body {
        background-image: url('img/fundo topografico.webp');
    }

    .menu-link {
        font-size: 0.8rem;
    }

    .sobre-icons {
        margin-top: 30px;
    }

    .projetos-card {
        min-width: calc(100%);
    }

    .popup-carrossel-track-container {
        border-radius: 15px 15px 0px 0px;
    }

    .popup-caixa {
        flex-direction: column;
        width: 95vh;
        height: 90vh;
        max-width: 90%;
    }


    .softwares-titulo {
        display: flex;
        gap: 10px;
        margin-top: 13px;
    }

    .popup-esquerda {

        width: 100%;
        height: 40%;
    }

    .popup-direita {
        width: 100%;
        height: 60%;
        border-radius: 0px 0px 15px 15px;
    }

    .popup-carrossel-slide img {
        object-fit: cover;
    }

    .tooltip {
        margin-bottom: -18px;
    }

    .direita-metade-superior {
        padding: 15px;
    }

    .direita-metade-inferior {
        overflow-y: none;
        padding-left: 15px;

    }

    .close-modal {
        top: -60%;
        font-size: 10px;
    }

    .btn-popup {
        top: 25%;
    }

    .redes-sociais {
        max-width: 100%;
    }

}